#reg{
    text-decoration: none;
    background-color: #FF9C8F; 
    color:white;
    padding: 15px 40px 15px 40px;
}

footer{
    color: white;
    a{
        color: white;
    }
    ul{
        list-style: none;
    }
}